.login-button {
	padding-inline: 32px;
	padding-block: 12px;
	border-radius: 500px;
	line-height: 1.5rem;
	text-transform: none;
	letter-spacing: normal;
	font-weight: 700;
	text-align: center;
	border: none;
}