.login{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: #2d2d2d;
}


.image-logo-login {
  padding: 6px;
  margin: 6px;
  height: 125px;
  object-fit: contain;
}

.login  button{
  color: #fff;
  font-size:large;
  border-radius: 50px;
}