.menu{
  height: 100vh;
  flex: 0.2;
  min-width: 230px;
  padding: 0px 10px;
  color: #fff;
  background-color: #040404;
}
.menu__logo{
  margin-right: auto;
  height: 78px;
  width: 100px;
  object-fit: contain;
  
}